@import './normalise.css';
@import './main.css';
@import './Header.css';
@import './Guarantee.css';
@import './Guarantee.cards.css';
@import './Services.css';
@import './Creative.css';
@import './Ads.css';
@import './Footer.css';

@font-face {
  font-family: 'Montserat';
  src: url(../fonts/Montserrat-Bold.woff);
  font-weight: 700;
}

@font-face {
  font-family: 'Montserat';
  src: url(../fonts/Montserrat-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: 'Montserat';
  src: url(../fonts/Montserrat-SemiBold.woff);
  font-weight: 600;
}