@import '../sass/variables.scss';
@import './Burger.scss';

.header {
  margin-bottom: 135px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
  }

  &__buttonBox {
    display: flex;
    align-items: center;
    gap: 28px;
  }
}

.buttonBox {
  max-width: 281px;
  flex-wrap: wrap;
  &__btn--transparent {
    background-color: transparent;
    color: $primary;
    &:hover,
    &:focus {
      background-color: $primary;
      color: inherit;
    }
  }
  
}

.nav {
  max-width: 408px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.list {
  &__link {
    color: $white1;
    padding: 10px 15px;
    transition: background-color .2s ease-in-out;
    border-radius: 20px;
  }

  &__item {
    :hover,
    :focus {
      background-color: #ffffff50;
    }
  }
}

.logo {
  position: relative;
  background-image: url(../img/svg/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 125px;
  height: 40px;
  max-width: 126px;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .header__nav,
  .header__buttonBox  {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger-box {
    display: block;
  }
  .header {
    margin-bottom: 60px;
  }
}