@import './variables.scss';

.services {
  margin-bottom: 116px;
  min-height: 820px;
  background-image: url(../img/services.webp);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 10% 100%;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 820px;
  }

  &__content {
    max-width: 50%;
  }

  &__title {
    font-weight: 700;
    font-size: $h2;
    line-height: 130%;
    color: $white1;
    padding-bottom: 70px;
  }
}

.values {
  display: flex;
  max-width: 591px;
  flex-wrap: wrap;
  gap: 20px;

  &__item--first {
    border-right: 1px solid #626276;
    padding-right: 48px;
  }

  &__item--second {
    padding-left: 48px;
  }

  &__span {
    display: inline-block;
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    margin-bottom: 13px;
    max-width: 214px;
    word-wrap: break-word;

    &--yellow {
      color: $primary;
    }

    &--orange {
      color: $accent2;
    }
  }

  &__text {
    font-weight: 400;
    font-size: $SmallText;
    line-height: 180%;
    color: #868695;
    max-width: 213px;
  }
}

@media (max-width:1143px) {
  .values {
    flex-direction: column;

    &__item {
      max-width: 252px;
    }

    &__item--first {
      border-bottom: 1px solid #626276;
      border-right: none;
      padding-bottom: 30px;
    }

    &__item--second {
      padding-left: 0px;
    }
  }
}

@media (max-width:1024px) {
  .services {
    background-image: url('');

    &__wrapper {
      justify-content:center;
      width: auto;
      max-width: 80%;
      margin: 0 auto;
    }

    &__content {
      text-align: center;
      max-width: none;
    }
  }

  .values {
    align-items: center;
    margin: 0 auto;
    &__item--first {
      text-align: center;
      padding: 0;
      padding-bottom: 30px;
    }
  
    &__item--second {
      text-align: center;
    }
  }
}

@media (max-width:502px) {
  .services__title {
    font-size: 36px;
  }
}

@media (max-width:360px) {
  .services__title {
    font-size: 28px;
  }
}