// Typography

$h1: 61px; // - Bold
$h2: 48px; // - Bold
$h3: 20px; // - Semi Bold
$NormalText: 16px; // - Regular
$NormalText2: 16px; // - Semi Bold
$SmallText: 14px; // - Regular
$SmallText2: 14px; // - Regular
$XSmallText: 13px; // - Regular

// Colors

$primary: #FFBE0B;
$primary-op: #3E3125;
$secondary: #3A86FF;
$secondary-op: #172656;
$accent1: #FF006E;
$accent1-op: #3E0B39;
$accent2: #FB5607;
$accent2-op: #3D1C25;
$accent3: #8338EC;
$white1: #FFFFFF;
$white2: #868695;
$white3: #626276;
$black: #0E0E2C;